<a href="https://colab.research.google.com/github/kuchukullavinodkumarreddy/pythonvinod/blob/master/Vinod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST FUNCTIONS

In [8]:
#to find length of a list
#len() is used
a = ["abhi", "ram", "vinod"]
print(len(a))

3

In [5]:
#to find minimum
#min() is used
a=[1,2,3,4,5]
b=[1,2,3]
print(min(a,b))

[1, 2, 3]

In [7]:
#to find range
#range() is used
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#to find maximum
#max() is used
a=[100,101,102,103]
b=[200,201,202,203,204]
print(max(a,b))

[200, 201, 202, 203, 204]

In [22]:
#TUPLES FUNCTIONS

In [10]:
#tuple containing list
# Set the tuple
t = ("Banana", [1, 2, 3]) 
# Print the tuple
print(t)

('Banana', [1, 2, 3])

In [11]:
 
#Access the values in tuples
# Set the tuple
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# Print the second element of the tuple
print(weekdays[1])

Tuesday

In [12]:
#access multiple values
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(weekdays[1:4])

('Tuesday', 'Wednesday', 'Thursday')

In [13]:
 
#concate tuples
#Set two tuples
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
weekenddays = ("Saturday", "Sunday")
# Set a third tuple to the value of the previous two
alldays = weekdays + weekenddays
# Print them all
print(weekdays)
print(weekenddays)
print(alldays)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Saturday', 'Sunday')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [14]:
#Named tuples
 
# Import the 'namedtuple' function from the 'collections' module
from collections import namedtuple
# Set the tuple
individual = namedtuple("Individual", "name age height")
user = individual(name="Homer", age=37, height=178)
# Print the tuple
print(user)
# Print each item in the tuple
print(user.name)
print(user.age)
print(user.height)

Individual(name='Homer', age=37, height=178)
Homer
37
178

In [20]:
#DICTIONARY FUNCTIONS

In [16]:
 
# Create the dictionary
planet_size = {"Earth": 40075, "Saturn": 378675, "Jupiter": 439264}
# Print the dictionary
print(planet_size)
# Print the type
print(type(planet_size))

{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 439264}
<class 'dict'>

In [17]:
#dictionary containing list and tuples
# Create the dictionary
food = {"Fruit": ["Apple", "Orange", "Banana"], "Vegetables": ("Eat", "Your", "Greens")}
# Print the dictionary
print(food)

{'Fruit': ['Apple', 'Orange', 'Banana'], 'Vegetables': ('Eat', 'Your', 'Greens')}

In [18]:
#Dealing with missing keys
# Create the dictionary
planet_size = {"Earth": 40075, "Saturn": 378675, "Jupiter": 439264}
# get() function without a default value
print(planet_size.get("Arrakis"))
# get() function with a default value
print(planet_size.get("Arrakis", "Huh?"))

None
Huh?

In [23]:
#access list item within a key
# Create the dictionary
food = {"Fruit": ["Apple", "Orange", "Banana"], "Vegetables": ("Eat", "Your", "Greens")}
# Print the second fruit item
print(food["Fruit"][1])

Orange

In [24]:
#update an item in a dictionary
# Create the dictionary and print
user = {"Name": "Christine", "Age": 23}
print(user)
# Update the user's age and print
user["Age"] = 24
print(user)

{'Name': 'Christine', 'Age': 23}
{'Name': 'Christine', 'Age': 24}

In [ ]:
#STRING FUNCTIONS

In [26]:
#to find length
a="hello"
print(len(a))

5

In [27]:
#to find whether numeric or not
a="pic123"
b="21344"
print(a.isnumeric())
print(b.isnumeric())

False
True

In [28]:
#Escape sequence
msg = "ATTENTION!\rFor those about to rock, we salute you!"
print(msg)

For those about to rock, we salute you!

In [29]:
#to access part of string
planet = "Jupiter"
print(planet[2:5])

pit

In [31]:
#string formatting operator
print("Hello %s, you scored %i out of %i" % ("vinod", 93, 100))

Hello vinod, you scored 93 out of 100

In [ ]:
#set functions

In [32]:
#to add
set={1,2,3}
set.add("vinod")
print(set)

{'vinod', 1, 2, 3}

In [36]:
#to remove
set={1,2,3,4}
set.remove(2)
print(set)

{1, 3, 4}

In [40]:
#to union
set1={1,2,3,4}
set2={3,4,5,6}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

In [41]:
#to intersect
set1={1,2,3,4}
set2={3,4,5,6}
print(set1 & set2)

{3, 4}

In [42]:
#to clear set
set={100,110,120,130}
print(set.clear())

None