<a href="https://colab.research.google.com/github/kuchukullavinodkumarreddy/pythonvinod/blob/master/Vinod2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ASSIGNMENT-2

In [8]:
 
altitude=input("Enter the altitude-")
altitude=int(altitude)
if altitude<=1000:
    print("safe to land")
elif altitude<=5000:
    print("Bring down to 1000")
else:
    print("Turn around")

Enter the altitude-9986
Turn around

In [ ]:
QUESTION-2

In [19]:
 
  
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 1
Enter upper range: 200
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199